$oneColor: rgb(233, 245, 219);
$twoColor: rgb(207, 225, 185);
$threeColor: rgb(181, 201, 154);
$fourColor: rgb(151, 169, 124);
$fiveColor: rgb(135, 152, 106);
$sixColor: rgb(113, 131, 85);
$hoverColor: pink;
