@use "color-palette";
@use "mediaQueries";

$phone-size: 576px;
$tablet-portrait-size: 768px;
$tablet-landscape-size: 992px;
$laptop-size: 1200px;

@mixin small-text($size, $color) {
    font-family: Arial, Helvetica, sans-serif;
    font-size: $size;
    color: $color;
    text-decoration: none;
}

@mixin main-text($size, $color) {
    font-family: Arial, Helvetica, sans-serif;
    font-size: $size;
    color: $color;
    text-decoration: none;
}

@mixin flex-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

@mixin socials {
    color: lightgrey;
    transition: color 0.2s;
    text-decoration: none;
    margin: 0px 10px;
    size: 50px;
}

* {
    padding: 0;
    margin: 0;
}

.backgroundColor {
    background-color: color-palette.$threeColor;
    height: 100vh;
}

@include mediaQueries.phone {
    .navBox {
        &__box {
            height: 40px;
            margin-bottom: 20px;
        }
        &__display {
            @include flex-nav;
        }
        &--color {
            background-color: color-palette.$fiveColor;
        }
    }

    .list {
        list-style: none;
        @include main-text(small, white);
    }
    .smallText {
        @include small-text(small, white);
        &__hover:hover {
            color: color-palette.$hoverColor;
        }
    }

    .mainText {
        &__header {
            @include main-text(medium, white);
            text-align: center;
            margin-bottom: 10px;

            &--left {
                text-align: left;
                margin-left: 375px;
            }
        }

        &__paragraph {
            @include main-text(medium, white);
            text-align: center;
            margin-bottom: 10px;
        }
    }
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
    }

    .social {
        position: static;

        &__align {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__icons {
            color: white;
            transition: color 0.2s;
            text-decoration: none;
            margin: 0px 10px;
            font-size: 15px;

            &--hover:hover {
                color: black;
            }
        }
    }
}

@include mediaQueries.tablet-portrait() {
    .navBox {
        &__box {
            height: 50px;
            margin-bottom: 30px;
        }
        &__display {
            @include flex-nav;
        }
        &--color {
            background-color: color-palette.$fiveColor;
        }
    }

    .list {
        list-style: none;
        @include main-text(medium, white);
    }
    .smallText {
        @include small-text(medium, white);
        &__hover:hover {
            color: color-palette.$hoverColor;
        }
    }

    .mainText {
        &__header {
            @include main-text(large, white);
            text-align: center;
            margin-bottom: 10px;

            &--left {
                text-align: left;
                margin-left: 375px;
            }
        }

        &__paragraph {
            @include main-text(medium, white);
            text-align: center;
            margin-bottom: 10px;
        }
    }
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
    }

    .social {
        position: static;
        &__align {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__icons {
            color: white;
            transition: color 0.2s;
            text-decoration: none;
            margin: 0px 10px;
            font-size: 20px;

            &--hover:hover {
                color: black;
            }
        }
    }
}
@include mediaQueries.tablet-landscape() {
    .navBox {
        &__box {
            height: 60px;
            margin-bottom: 30px;
        }
        &__display {
            @include flex-nav;
        }
        &--color {
            background-color: color-palette.$fiveColor;
        }
    }

    .list {
        list-style: none;
        @include main-text(medium, white);
    }
    .smallText {
        @include small-text(medium, white);
        &__hover:hover {
            color: color-palette.$hoverColor;
        }
    }

    .mainText {
        &__header {
            @include main-text(large, white);
            text-align: center;
            margin-bottom: 10px;

            &--left {
                text-align: left;
                margin-left: 375px;
            }
        }

        &__paragraph {
            @include main-text(medium, white);
            text-align: center;
            margin-bottom: 10px;
        }
    }

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
    }

    .social {
        position: static;
        &__align {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__icons {
            color: white;
            transition: color 0.2s;
            text-decoration: none;
            margin: 0px 10px;
            font-size: 25px;

            &--hover:hover {
                color: black;
            }
        }
    }
}
@include mediaQueries.laptop() {
    .navBox {
        &__box {
            height: 60px;
            margin-bottom: 30px;
        }
        &__display {
            @include flex-nav;
        }
        &--color {
            background-color: color-palette.$fiveColor;
        }
    }

    .list {
        list-style: none;
        @include main-text(large, white);
    }
    .smallText {
        @include small-text(large, white);
        &__hover:hover {
            color: color-palette.$hoverColor;
        }
    }

    .mainText {
        &__header {
            @include main-text(large, white);
            text-align: center;
            margin-bottom: 10px;

            &--left {
                text-align: left;
                margin-left: 375px;
            }
        }

        &__paragraph {
            @include main-text(large, white);
            text-align: center;
            margin-bottom: 10px;
        }
    }
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
    }

    .social {
        position: static;
        &__align {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__icons {
            color: white;
            transition: color 0.2s;
            text-decoration: none;
            margin: 0px 10px;
            font-size: 25px;

            &--hover:hover {
                color: black;
            }
        }
    }
}
@include mediaQueries.desktop() {
    .navBox {
        &__box {
            height: 60px;
            margin-bottom: 30px;
        }
        &__display {
            @include flex-nav;
        }
        &--color {
            background-color: color-palette.$fiveColor;
        }
    }

    .list {
        list-style: none;
        @include main-text(x-large, white);
    }
    .smallText {
        @include small-text(x-large, white);
        &__hover:hover {
            color: color-palette.$hoverColor;
        }
    }

    .mainText {
        &__header {
            @include main-text(xx-large, white);
            text-align: center;
            margin-bottom: 10px;

            &--left {
                text-align: left;
                margin-left: 375px;
            }
        }

        &__paragraph {
            @include main-text(x-large, white);
            text-align: center;
            margin-bottom: 20px;
        }
    }
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
    }

    .social {
        position: static;
        &__align {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__icons {
            color: white;
            transition: color 0.2s;
            text-decoration: none;
            margin: 0px 10px;
            font-size: 25px;

            &--hover:hover {
                color: black;
            }
        }
    }
}
