@mixin images($height, $width) {
    height: $height;
    width: $width;
    padding: 10px;
    border-radius: 30px;
    object-fit: cover;
}

.photos {
    &__about {
        @include images(500px, 300px);
    }
    &__logo {
        @include images(200px, 100px);
    }
}

.about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    color: white;
}
