@use "mediaQueries";

@mixin images($height, $width) {
    height: $height;
    width: $width;
    padding: 10px;
    border-radius: 30px;
    object-fit: cover;
}

@include mediaQueries.phone {
    .photos {
        &__about {
            @include images(500px, 300px);
        }
        &__logo {
            @include images(200px, 100px);
        }
    }

    .about {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        color: white;
    }
}

@include mediaQueries.tablet-portrait() {
    .photos {
        &__about {
            @include images(600px, 400px);
        }
        &__logo {
            @include images(300px, 200px);
        }
    }

    .about {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        color: white;
    }
}

@include mediaQueries.tablet-landscape() {
    .photos {
        &__about {
            @include images(800px, 600px);
        }
        &__logo {
            @include images(500px, 400px);
        }
    }

    .about {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        color: white;
    }
}

@include mediaQueries.laptop() {
    .photos {
        &__about {
            @include images(900px, 700px);
        }
        &__logo {
            @include images(600px, 500px);
        }
    }

    .about {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        color: white;
    }
}

@include mediaQueries.desktop() {
    .photos {
        &__about {
            @include images(900px, 700px);
        }
        &__logo {
            @include images(600px, 500px);
        }
    }

    .about {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        color: white;
    }
}
