@media only screen and (max-width: 576px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .projects {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }
  .projects__images {
    height: 100px;
    width: 100px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 1;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .projects__images--hover:hover {
    opacity: 0.7;
    background-color: white;
  }
  .text {
    opacity: 0;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    background-color: grey;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    margin-top: -30%;
    width: 35%;
    height: auto;
  }
  .images {
    height: 100px;
    width: 100px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 1;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .images:hover .text {
    opacity: 0.9;
  }
  .images:hover img {
    opacity: 0.7;
  }
  h2 {
    text-align: center;
    width: 100%;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
  }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .projects {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }
  .projects__images {
    height: 150px;
    width: 150px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 1;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .projects__images--hover:hover {
    opacity: 0.7;
    background-color: white;
  }
  .text {
    opacity: 0;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    background-color: grey;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    margin-top: -30%;
    width: 35%;
    height: auto;
  }
  .images {
    height: 150px;
    width: 150px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 1;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .images:hover .text {
    opacity: 0.9;
  }
  .images:hover img {
    opacity: 0.7;
  }
  h2 {
    text-align: center;
    width: 100%;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
  }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .projects {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }
  .projects__images {
    height: 200px;
    width: 200px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 1;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .projects__images--hover:hover {
    opacity: 0.7;
    background-color: white;
  }
  .text {
    opacity: 0;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    background-color: grey;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    margin-top: -30%;
    width: 35%;
    height: auto;
  }
  .images {
    height: 200px;
    width: 200px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 1;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .images:hover .text {
    opacity: 0.9;
  }
  .images:hover img {
    opacity: 0.7;
  }
  h2 {
    text-align: center;
    width: 100%;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
  }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .projects {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }
  .projects__images {
    height: 300px;
    width: 300px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 1;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .projects__images--hover:hover {
    opacity: 0.7;
    background-color: white;
  }
  .text {
    opacity: 0;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    background-color: grey;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    margin-top: -30%;
    width: 35%;
    height: auto;
  }
  .images {
    height: 300px;
    width: 300px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 1;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .images:hover .text {
    opacity: 0.9;
  }
  .images:hover img {
    opacity: 0.7;
  }
  h2 {
    text-align: center;
    width: 100%;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
  }
}

@media only screen and (min-width: 1201px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .projects {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }
  .projects__images {
    height: 300px;
    width: 300px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 1;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .projects__images--hover:hover {
    opacity: 0.7;
    background-color: white;
  }
  .text {
    opacity: 0;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    background-color: grey;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    margin-top: -30%;
    width: 35%;
    height: auto;
  }
  .images {
    height: 300px;
    width: 300px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 1;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .images:hover .text {
    opacity: 0.9;
  }
  .images:hover img {
    opacity: 0.7;
  }
  h2 {
    text-align: center;
    width: 100%;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
  }
}
/*# sourceMappingURL=projects.css.map */