@use "mediaQueries";

@include mediaQueries.phone {
    .skills {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 150px;
    }

    .skillsText {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        color: white;
        height: 150px;
    }
}
@include mediaQueries.tablet-portrait() {
    .skills {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 200px;
    }

    .skillsText {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        color: white;
        height: 200px;
    }
}
@include mediaQueries.tablet-landscape() {
    .skills {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 250px;
    }

    .skillsText {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        color: white;
        height: 250px;
    }
}
@include mediaQueries.laptop() {
    .skills {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 300px;
    }

    .skillsText {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        color: white;
        height: 300px;
    }
}
@include mediaQueries.desktop() {
    .skills {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 300px;
    }

    .skillsText {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        color: white;
        height: 300px;
    }
}
